{%load static%}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Application Form</title>
  <link rel="stylesheet" href="{% static 'form_app/css/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <p>Please enter your transaction reference to continue your Application</p>
    </div>
    <div class="row clearfix">
      <div class="">
        <form name="form" method="POST">
          {% csrf_token %}
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-bookmark"></i></span>
            <input type="text" name="reference" placeholder="Transaction Reference" required />
          </div>
          {% if messages %} {% for msg in messages %}


          <p style="color: red; font-size:smaller; text-align:center;">{{msg.message}}</p>

          {% endfor %} {% endif %}
          <input name="form" class="button" type="submit" value="Proceed" />
        </form>
      </div>
    </div>
  </div>
</div>
<p class="credit">Powered by <a href="#" target="_blank">Musaddiq Technologies</a></p>
<!-- partial -->
  <script src='https://use.fontawesome.com/4ecc3dbb0b.js'></script>
  
</body>
</html>
