{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Form Purchase</title>
    <link rel="stylesheet" href="{% static 'form_app/css/style.css' %}">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <p>Welcome to NIHAZ online application portal</p>
                <h2>Application Form Purchase</h2>
                <p>Please enter a valid email address to proceed for payment.</p>
            </div>
            <div class="row clearfix">
                <div class="">
                    <form name="form" method="POST">
                        {% csrf_token %}
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                            <input type="email" name="email" placeholder="Email" required />
                        </div>
                        {% if messages %} {% for msg in messages %}


                        <p style="color: red; font-size:smaller; text-align:center;">{{msg.message}}</p>

                        {% endfor %} {% endif %}
                        <input name="form" class="button" type="submit" value="Proceed" />

                    </form>
                    <p class="credit"> Or <br>
                        <a href="{% url 'application-form' %}" target="_blank"> <br> Continue with Existing Application</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p class="credit">Powered by <a href="#">Musaddiq Technologies</a></p>
    <!-- partial -->
    <script src='https://use.fontawesome.com/4ecc3dbb0b.js'></script>

</body>

</html>