{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NIHAZ E-Forms</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel="stylesheet" href="{% static 'form_app/css/multi/style.css' %}">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2 id="heading">NIHAZ Online Application Form</h2>
                    <p>Fill all form field to go to next step</p>
                    <form id="msform" name="appForm" method="POST">
                        {% csrf_token %}
                        <p id="csrf_token" style="visibility: hidden;">{{csrf_token}}</p>
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active" id="account"><strong>Bio-Data</strong></li>
                            <li id="personal"><strong>Educational <br> Record</strong></li>
                            <li id="payment"><strong>Program <br> Selection</strong></li>
                            <li id="confirm"><strong>Finish</strong></li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> <br>
                        <!-- fieldsets -->
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Account Information:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 1 - 4</h2>
                                    </div>
                                </div>

                                <div class="row" onmouseover="nexter()" onmousemove="nexter2()">
                                    <div class="col-6">
                                        <label class="fieldlabels">Email: *</label>
                                        <input type="email" name="email" placeholder="Email Id" />


                                    </div>
                                    <div class="col-6">
                                        <label class="fieldlabels">Phone No: *</label>
                                        <input type="text" name="tel" placeholder="Phone Number" />
                                    </div>
                                    <div class="col-12">
                                        <label class="fieldlabels">Full Name: *</label>
                                        <input type="text" name="name" placeholder="Enter your Full Name" />
                                    </div>
                                    <div class="col-6">
                                        <label class="fieldlabels">LGA: </label>
                                        <input type="text" name="lga" placeholder="Local Government Area" />
                                    </div>
                                    <div class="col-6">
                                        <label class="fieldlabels">City: </label>
                                        <input type="text" name="city" placeholder="City" />
                                    </div>
                                    <div class="col-12">
                                        <label class="fieldlabels">Home Address: </label>
                                        <input type="text" name="address" placeholder="Enter your home address" />
                                    </div>
                                    <div class="col-12">
                                        <label class="fieldlabels">Date of Birth: </label>
                                        <input type="text" name="dob" placeholder="DD/MM/YYYY" />
                                    </div>
                                    <div class="col-6">
                                        <label class="fieldlabels">Next of Kin (NOK): </label>
                                        <input type="text" name="nok" placeholder="Next of Kin" />
                                    </div>
                                    <div class="col-6">
                                        <label class="fieldlabels">NOK Tel No: </label>
                                        <input onmouseover="nexter()" onmousemove="nexter2()" type="text" name="nokTel" placeholder="NOK Telephone No" />
                                    </div>

                                    <div class="col-12">
                                        <input type="text" name="ref" value="{{ref}}" style="visibility:hidden;" />
                                    </div>

                                </div>



                            </div>
                            <input type="button" style="visibility: hidden;" name="next" class="next action-button" value="Next" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Educational Information:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 2 - 4</h2>
                                    </div>
                                </div>
                                <p>Institutions/Schools Attended with Date</p>
                                <div id="education" style="display: none">

                                    <input type="button" class="action-button" name="remove" value="remove" onclick="this.parentNode.parentNode.removeChild(this.parentNode)" />
                                    <br><br><br>
                                    <div class="row">
                                        <div class="col-12">
                                            <label class="fieldlabels">Name of School: </label>
                                            <input type="text" name="schoolName" placeholder="Name of School" id='schoolName' />
                                        </div>
                                        <div class="col-6">
                                            <label class="fieldlabels">Year: </label>
                                            <input type="text" name="year" placeholder="Year of Graduation" />
                                        </div>
                                        <div class="col-6">
                                            <label class="fieldlabels">Grade: </label>
                                            <input type="text" name="grade" placeholder="Grade" />

                                        </div>
                                    </div>


                                </div>
                                <span id="educForms"></span>
                                <div class="row">
                                    <input type="button" onclick="moreFields()" class="action-button" name="add" value="Add" />
                                </div>

                            </div>
                            <input type="button" name="next" class="next action-button" value="Next" />
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Program Selection:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 3 - 4</h2>
                                    </div>
                                </div>
                                <label class="fieldlabels">Please Select the Course you wish to Apply for:</label>
                                <select class="form-control" name="course" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>

                            </div>
                            <input name="appForm" type="button" onclick="testy()" class="next action-button" value="Submit" id="submit" />
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Finish:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 4 - 4</h2>
                                    </div>
                                </div> <br><br>
                                <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                <div class="row justify-content-center">
                                    <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                                </div> <br><br>
                                <div class="row justify-content-center">
                                    <div class="col-7 text-center">
                                        <h5 class="purple-text text-center">You Have Successfully Applied for Admission in to NIHAZ</h5>
                                        <p>You will be notified when admission is out</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- partial -->

    <script>
        var counter = 0;

        function moreFields() {
            counter++;
            var newFields = document.getElementById('education').cloneNode(true);
            newFields.id = '';
            newFields.style.display = 'block';
            var newField = newFields.childNodes;
            for (var i = 0; i < newField.length; i++) {
                var theName = newField[i].name
                if (theName)
                    newField[i].name = theName + counter;
            }
            var insertHere = document.getElementById('educForms');
            insertHere.parentNode.insertBefore(newFields, insertHere);

        }
        window.onload = moreFields;
    </script>
    <script>
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="{% static 'form_app/js/multi/script.js' %}"></script>
    <script src="{% static 'form_app/js/multi/api.js' %}"></script>

</body>

</html>